body {
  background-color:lightgray;
  padding-top:3%;
  padding-bottom:3%;
  
}


.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
}

p {
  text-align:left;
  padding-left:3%;
  font-family:Roboto;
}

h1 {
  text-align:center;
  font-family:verdana;
  padding-top:1%;
  padding-bottom:1%;
  font-size:200%;
}

h2 {
  text-align:left;
  padding-left:2%; 
}

.div1 {
  border:2px solid black;
  padding-left:2%;
  padding-right:2%;
  width:50%;
  margin-left:25%;
  margin-right:25%;
  background-color:white;
}


.div3 {
  margin-left:50%;
  margin-right:25%;
  width:45%;
  background-color:lightgray;  
  
}

ul, {
  
}