body {
 background-color:lightgray;
}
h1 {
 color:yellow;background-color:gray;text-align:center;border:3px solid black;
}
p {
 color:yellow;text-align:center;background-color:gray;border:3px solid black;
}
h2 {
 color:yellow;background-color:gray;text-align:center;border:3px solid black;
}
a:link {
  color: lightyellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:link{
background-color:gray;
}